doctype html
html
    head
        title puzzle
        style.
            body, html, p {
                padding: 0;
                margin: 0;
                font: 14px "AppleColorEmoji", AppleColorEmoji, "SimHei", "Lucida Grande", Helvetica, Arial, sans-serif, "Apple Color Emoji";
            }
    body
        block content
