
mixin child(elements)
    each element, i in elements
        #{element.tag}(
        class=element.className
        src=element.attr.src
        style=element.attr.style)
            != element.innerHTML
            if element.childEle
                if element.childEle.length
                    +child(element.childEle)
